<header class="jumbotron masthead">
  <div class="pattern">
    <div class="container">
      <h1>
        <small>Máme pre Vás</small>
        <%= number_with_delimiter @count %>
        <small>súdnych dokumentov</small>
      </h1>
    </div>
  </div>
</header>
