<%= provide :title, "O projekte" %>

<section class="about">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <small>alebo o tom prečo to celé vlastne vzniklo?</small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      
    </div>
  </div>
</section>
