<section id="api" class="page">
  <div class="row">
    <div class="offset2 span8">
      <h1>API a dáta</h1>

      <div class="row statistics">
        <div class="span3">
          <h2 class="centered">
            1,3 mil.
            <br/>
            <small class="muted">súdnych rozhodnutí</small>
          </h2>
        </div>

        <div class="span2">
          <h2 class="centered">
            2,4 tis.
            <br/>
            <small class="muted">sudcov</small>
          </h2>
        </div>

        <div class="span3">
          <h2 class="centered">
            800 tis.
            <br/>
            <small class="muted">súdnych pojednávaní</small>
          </h2>
        </div>
      </div>

      <hr/>
      <p class="lead centered">
        <a href="http://docs.otvorenesudy.apiary.io">docs.otvorenesudy.apiary.io</a>
      </p>
      <hr/>

      Ponúkame dáta o súdoch, sudcoch, ich pojednávaniach, rozhodnutiach, súdnych a výberových konaniach. Poskytujeme taktiež informácie o aktualizácii jednotlivých záznamov a mesačné synchronizácie nových dát.
      <br/>
      <br/>

      Implementovaná je zatiaľ synchronizácia súdnych rozhodnutí. Ak máte záujem o niektoré z uvedených dát, neváhajte nás kontaktovať.

      <hr />
      <p class="lead centered">
        <a href="mailto:kontakt@otvorenesudy.sk">kontakt@otvorenesudy.sk</a>
      </p>
      <hr />
    </div>
  </div>
</section>
