<% provide :header, render(partial: 'header') %>

<!-- TODO ?
<% #provide :footer, render(partial: 'footer') %>
-->

<!-- TODO ?
  
  - use BS scaffolding to position icons and content into columns
  - switch header carousel back into static header, but as large as carousel
  - consider using fixed header height (as enterprise.github 720px?)
  - find suitable landing page HD photo / image, try cube pattern with gradients
  - add data counts into features
  - add Restart & TIS logos into features
  
  -->


<section class="features">
  <div class="feature">
    <i class="feature-icon icon-circle pull-left"></i>
    <h1>
      Otvorené súdy.
      <small>Transparentne.</small>
    </h1>
    <!-- TODO use this wrapper div? -->
    <div class="feature-content">
      <p class="lead">
        Projekt, ktorý <strong>stransparentní pohľad</strong> na <strong>slovenské súdnictvo</strong>.
      </p>
      <h2>
        Pre koho?
      </h2>
      <p class="lead">
        Pre tých ľudí, ktorí by radi mali <strong>všetky informácie na jednom mieste</strong> a&nbsp;efektívne v&nbsp;nich chceli vyhľadávať.
        Pre tých, ktorí majú radi dynamické grafy, tabuľky a&nbsp;<strong>prehľadné vizualizácie zaujímavých údajov</strong>.
      </p>
    </div>
  </div>
  
  <hr/>
  
  <div class="feature">
    <i class="feature-icon icon-github pull-right"></i>
    <h1>
      Otvorený zdrojový kód.
      <small>Ruby&nbsp;on&nbsp;Rails.</small>
    </h1>
    <p class="lead">
      Zdrojové kódy projektu <a href="https://github.com/otvorenesudy">Otvorené súdy</a>
      sú voľne dostupné na Internete službou <a href="https://github.com/" target="_blank">GitHub</i></a>.
    </p>
  </div>
  
  <hr/>
  
  <div class="feature">
    <i class="feature-icon icon-hdd pull-left"></i>
    <h1>
      Otvorené dáta.
      <small>Súdne&nbsp;dokumenty.</small>
    </h1>
    <p class="lead">
      Máme stiahnuté, spracované a&nbsp;normalizované všetky <strong>súdne rozhodnutia a&nbsp;pojednávania</strong>, ktoré boli zverejnené na stránke
      <a href="http://justice.gov.sk" target="_blank">Ministerstva spravodlivosti</a> Slovenskej republiky.
    </p>
  </div>
</section>

<section class="logos">
  <div class="row">
    <div class="span6">
      <a class="logo-transparency" href="http://transparency.sk" target="_blank">
        <img src="<%= asset_path 'logos/transparency-grayscale-280.png' %>" />
      </a>
    </div>

    <div class="span6">
      <a class="logo-restart" href="http://restartslovensko.sk/" target="_blank">
        <img src="<%= asset_path 'logos/restart-grayscale-280.png' %>" />
      </a>
    </div>
  </div>
</section>
