<% provide :header, render(partial: 'header') %>

<section id="highlights">
  <div class="page-header">
    <h1>
      <%= title %>
      <small>transparentný pohľad na slovenské súdnictvo</small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Tab1</a></li>
          <li><a href="#tab2" data-toggle="tab">Tab2</a></li>
        </ul>
  
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <p>Hello world! 1</p>
          </div>

          <div id="tab2" class="tab-pane">
            <p>Hello world! 2</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
