<%= provide :title, translate("static_pages.#{@slug}") %>

<section id="<%= @slug %>">
  <div class="row">
    <div class="offset2 span8">
      <%= render(@slug).html_safe %>
    </div>
  </div>
</section>
