<%= provide :title, @title %>

<div class="row">
  <div class="col-xl-3 order-xl-last">
    <%= render 'side' %>
  </div>

  <div class="col-xl-9 order-xl-first content mt-4 mt-xl-0 mb-0-last">
    <h1 class="display-2 text-uppercase mt-0"><%= @title %></h1>
    <%= locale_specific_spaces(render @template).html_safe %>
  </div>
</div>
