<% content_for(:scripts) do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
  $(function () {
      var chart;
      $(document).ready(function() {
        chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'judges-name-chart',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: true
              },
              title: {
text: 'Celkový počet sudcov: <b>' + 1460 + '</b>'
              },
              tooltip: {
                  formatter: function() {
                    return '<b>'+ this.point.name +'</b>: ' + this.point.percentage.toPrecision(3) + '%';
                    }
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          color: '#000000',
                          connectorColor: '#000000',
                          formatter: function() {
                            return '<b>'+ this.point.name + '</b>';
                          }
                      }
                  }
                           },
credits: {
enabled: false 
         },

              series: [{
                  type: 'pie',
                  name: 'Počet sudcov s menom',
                  data: [


['Eva', 57.0],
['Mária', 50.0],
['Jana', 44.0],
['Peter', 39.0],
['Anna', 35.0],
['Ján', 34.0],
['Viera', 32.0],
['Zuzana', 32.0],
['Katarína', 31.0],
['Jozef', 29.0],
['Milan', 25.0],
['Alena', 22.0],
['Miroslav', 22.0],
['Vladimír', 22.0],
['Andrea', 22.0],
['Marián', 21.0],
['Gabriela', 21.0],
['Monika', 20.0],
['Iveta', 19.0],
['Martin', 19.0],
['Daniela', 17.0],
['Ostatné', 847]
                    ]
              }]
          });
      });
      
  });



});
</script>
<% end %>



<!-- Rails:  
rake stats:judge_names
-->
<div class="chart" >
  <h2 class="highcharts-title">Sudcovia podľa mena</h2>
  <div id="judges-name-chart" class="highcharts-container">
  </div>
</div>




