<% content_for(:scripts) do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
 
 
   $(function () {
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'judge-hearings-barchart-max',
                  type: 'bar'
              },
              title: {
                text: "Najaktívnejší sudcovia",

                },
              subtitle: {
                text: "Celkový počet sudcov: <b>1460</b>",

              },

              xAxis: {
categories: [
'JUDr. Bohuslav Majerníček',
'Mgr. Rudolf Novotný',
'JUDr. Ladislav Piros',
'JUDr. Ivan Roháč',
'JUDr. Richard Bureš',
'JUDr. Miroslav Toma',
'JUDr. Roman Farkaš',
'JUDr. Pavol Bielik',
'Mgr. Vanda Mikulášová',
'JUDr. Ivan Pavlovič',
'JUDr. Rastislav Dlugoš',
'JUDr. Jana Grendárová',
'Mgr. Erika Szalaiová',
'JUDr. Tibor Šulák',
'JUDr. Marián Sninský',
'Mgr. Janette Nôtová',
'JUDr. Milan Husťák',
'JUDr. Mariana Philadelphyová',
'JUDr. Martin Kollár',
'JUDr. Ján Poprocký',
'Mgr. Marcela Kosová',
'Mgr. Eva Strašková',
'JUDr. Stanislav Galovič',
'JUDr. Erika Lengyelová',
'JUDr. Ľuboš Baka',
'JUDr. Soňa Mihaľáková',
'JUDr. Milena Jakubíková',
'Mgr. Erika Dodulíková',
'JUDr. Tatiana Kovácsová',
'Mgr. Miroslav Lehoczký',
'JUDr. Zuzana Bartalská',
'JUDr. Miroslav Číž',
'JUDr. Beáta Javorková',
'JUDr. Daniela Blažovská',
'JUDr. Alica Vörösová',
'JUDr. Vladimír Sopúch',
'JUDr. Noema Turanovičová',
'Ján Bodnár',
'JUDr. Ladislav Bujňák',
'Mgr. Lucia Vícenová',

],
title: {
  text: "Sudcovia"
                  }
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Pojednávania',
                      align: 'high'
                  },
                  labels: {
                      overflow: 'justify'
                  }
              },
              tooltip: {
                  formatter: function() {
                      return ''+
                          this.x +' súdil '+ this.y + " pojednávaní";
                  }
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
                           },
              credits: {
                enabled: false
                       },
legend: {
enabled: false
        },

              series: [{
                  name: 'Počet pojednávaní',
                        data: [

565,
462,
417,
406,
371,
340,
313,
297,
293,
284,
269,
262,
260,
248,
246,
240,
238,
237,
237,
236,
234,
233,
232,
232,
226,
223,
223,
220,
220,
217,
215,
214,
213,
213,
213,
212,
212,
205,
203,
202,
                          ]
              }]
          });
      });
      
  });


   $(function () {
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'judge-hearings-barchart-min',
                  type: 'bar'
              },
              title: {
                text: "Najmenej aktívni sudcovia",

                },
              subtitle: {
                text: "Celkový počet sudcov: <b>1460</b>",

              },
legend: {
  enabled: false
},
              xAxis: {
categories: [
'JUDr. Elena Kováčová',
'JUDr. Eva Železníková',
'JUDr. Drahomíra Brixiová',
'JUDr. Helena Škrinárová',
'JUDr. Ivan Rumana',
'JUDr. Blažena Hirnerová',
'JUDr. Andrea Mazáková',
'JUDr. Denisa Šaligová',
'JUDr. Eduard Heinrich',
'JUDr. Boris Tóth',
'JUDr. Helena Kosorínová',
'JUDr. Viera Hrnčárová',
'JUDr. Jana Martinčeková',
'JUDr. Miron Čiževský',
'JUDr. Jarmila Glončáková',
'JUDr. Zuzana Ďurišová',
'JUDr. Kristína Glezgová',
'Mgr. Mária Kašíková',
'JUDr. Erika Šobichová',
'JUDr. Eugen Palášthy',
'JUDr. Alena Antalová',
'JUDr. Róbert Foltán',
'Mgr. Jolana Fuchsová',
'JUDr. Sidónia Sládečková',
'JUDr. Eva Benčová',
'JUDr. Peter Zachar',
'JUDr. Zlata Simková',
'JUDr. Ján Škvarka',
'JUDr. Miroslava Púchovská',
'JUDr. Darina Legerská',
'JUDr. Viera Bodnárová',
'Štefan Nagy',
'JUDr. Jaroslav Mikulaj',
'JUDr. Gabriela Varhalíková',
'JUDr. Nora Puchelová',
'Mgr. Dušan Čimo',
'JUDr. Tamara Sklenárová',
'JUDr. Alena Káčeriková',
'JUDr. Marián Blaha',
'JUDr. Diana Solčányová',
],
title: {
  text: "Sudcovia"
                  }
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Pojednávania',
                      align: 'high'
                  },
                  labels: {
                      overflow: 'justify'
                  }
              },
              tooltip: {
                  formatter: function() {
                      return ''+
                          this.x +' súdil '+ this.y + " pojednávaní";
                  }
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
                           },
              credits: {
                enabled: false
                       },
              series: [{
                  name: 'Počet pojednávaní',
                        data: [

1,
1,
1,
1,
1,
1,
1,
2,
2,
2,
2,
2,
2,
2,
2,
2,
3,
3,
3,
3,
3,
3,
3,
3,
3,
4,
4,
4,
4,
4,
5,
5,
5,
5,
5,
5,
6,
6,
6,
6,
                          ]
              }]
          });
      });
      
  });




});
</script>
<% end %>


<!-- Rails:  
rake stats:judge_hearings
-->
<div class="chart">
  <h2 class="highcharts-title">Aktivita sudcov</h2>
  <div id="judge-hearings-barchart-max" class="highbarcharts-container">
  </div>
  <div id="judge-hearings-barchart-min" class="highbarcharts-container">
  </div>
</div>


