<% content_for(:scripts) do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 


  $(function () {
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'judges-surname-chart',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: true
              },
title: {

text: 'Celkový počet sudcov: <b>1460,</b>'
},
subtitle: {
text: 'Počet nezahrnutých: <b>1308</b>'
},


              tooltip: {
                  formatter: function() {
                    return '<b>'+ this.point.name +'</b>: ' + this.point.percentage.toPrecision(3) + '%';
                    }
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          color: '#000000',
                          connectorColor: '#000000',
                          formatter: function() {
                            return '<b>'+ this.point.name + '</b>';
                          }
                      }
                  }
                           },
credits: {
enabled: false 
         },

 

              series: [{
                  type: 'pie',
                  name: 'Počet sudcov s priezviskom',
                  data: [

                    
['Kováčová', 5.0],
['Varga', 5.0],
['Farkašová', 5.0],
['Vargová', 5.0],
['Marková', 4.0],
['Balážová', 4.0],
['Tóth', 4.0],
['Lukáč', 4.0],
['Horváthová', 3.0],
['Kohútová', 3.0],
['Šišková', 3.0],
['Mészárosová', 3.0],
['Posluchová', 3.0],
['Kováč', 3.0],
['Filová', 3.0],
['Novák', 3.0],
['Novotná', 3.0],
['Farkaš', 3.0],
['Tóthová', 3.0],
['Tomáš', 2.0],
['Vyskočová', 2.0],
['Záleská', 2.0],
                    ]
              }]
          });
      });
      
  });




});
</script>
<% end %>

<!-- Rails:  
rake stats:judge_surnames
-->
<div class="chart" >
  <h2 class="highcharts-title">Sudcovia podľa priezviska</h2>
  <div id="judges-surname-chart" class="highcharts-container">
  </div>
</div>





