<%= provide :title, 'Štatistiky' %>

<section class="stats">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <small>prehľadné dynamické grafy a tabuľky</small>
    </h1>
  </div>

  <ul class="nav nav-pills">
    <li><a href="#">Sudcovia podľa mena</a></li>
    <li><a href="#">Sudcovia podľa priezviska</a></li>
    <li><a href="#">Súdy podľa počtu zamestnancov</a></li>
    <li><a href="#">Aktivita súdov</a></li>
    <li><a href="#">Aktivita sudcov</a></li>
  </ul>
</section>
