<%= provide :title, 'Štatistiky' %>

<% content_for(:scripts) do %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
 $(function () {
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'court-hearings-barchart',
                  type: 'bar'
              },
              title: {
text: 'Celkový počet súdov: <b>64</b>'
              },
legend: {
	enabled: false
},
              xAxis: {
categories: [
'Okresný súd Bratislava II',
'Okresný súd Košice I',
'Okresný súd Bratislava v',
'Okresný súd Bratislava I',
'Okresný súd Žilina',
'Okresný súd Prešov',
'Okresný súd Nitra',
'Okresný súd Dunajská Streda',
'Okresný súd Pezinok',
'Okresný súd Košice II',
'Okresný súd Trnava',
'Okresný súd Trenčín',
'Okresný súd Humenné',
'Okresný súd Bratislava III',
'Okresný súd Bratislava IV',
'Okresný súd Martin',
'Okresný súd Zvolen',
'Okresný súd Banská Bystrica',
'Okresný súd Prievidza',
'Okresný súd Komárno',
'Okresný súd Poprad',
'Okresný súd Galanta',
'Okresný súd Kežmarok',
'Okresný súd Spišská Nová Ves',
'Okresný súd Levice',
'Okresný súd Michalovce',
'Okresný súd Lučenec',
'Okresný súd Nové Zámky',
'Okresný súd Košice okolie',
'Krajský súd Bratislava',
'Okresný súd Bardejov',
'Okresný súd Trebišov',
'Okresný súd Topoľčany',
'Okresný súd Rimavská Sobota',
'Okresný súd Malacky',
'Okresný súd Čadca',
'Okresný súd Piešťany',
'Okresný súd Svidník',
'Okresný súd Námestovo',
'Okresný súd Liptovský Mikuláš',
'Okresný súd Považská Bystrica',
'Okresný súd Žiar nad Hronom',
'Krajský súd Košice',
'Okresný súd Rožňava',
'Okresný súd Veľký Krtíš',
'Krajský súd Banská Bystrica',
'Okresný súd Skalica',
'Okresný súd Ružomberok',
'Krajský súd Prešov',
'Okresný súd Senica',
'Okresný súd Nové Mesto nad Váhom',
'Okresný súd Stará Ľubovňa',
'Krajský súd Nitra',
'Krajský súd Žilina',
'Okresný súd Brezno',
'Krajský súd Trnava',
'Krajský súd Trenčín',
'Okresný súd Partizánske',
'Okresný súd Revúca',
'Okresný súd Dolný Kubín',
'Okresný súd Vranov nad Topľou',
'Okresný súd Bánovce nad Bebravou',
'Špecializovaný Trestný súd',
],
                  title: {
                      text: null
                  }
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Počet pojednávaní',
                      align: 'high'
                  },
                  labels: {
                      overflow: 'justify'
                  }
              },
              tooltip: {
                  formatter: function() {
                      return ''+
                          this.x +' má '+ this.y + " pojednávaní";
                  }
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
                           },
              credits: {
                enabled: false
                       },
              series: [{
                  name: 'Počet pojednávaní',
                        data: [

3359,
2848,
2773,
2667,
2482,
2425,
2269,
2195,
1976,
1933,
1799,
1708,
1589,
1535,
1502,
1405,
1281,
1273,
1251,
1243,
1237,
1221,
1207,
1204,
1166,
1142,
1051,
1048,
1033,
983,
930,
868,
855,
807,
793,
757,
724,
713,
679,
645,
621,
607,
602,
598,
576,
575,
572,
568,
563,
556,
554,
551,
515,
484,
480,
472,
439,
385,
336,
313,
292,
223,
115,
                          ]
              }]
          });
      });
      
  });






});
</script>
<% end %>


<!-- Rails:  
rake stats:court_hearings
-->
<div class="chart"  >
  <h2 class="highcharts-title">Aktivita súdov</h2>
  <div id="court-hearings-barchart" class="highbarcharts-container">
  </div>
</div>





