secret_key_base: "development_secret_key_base_change_me_at_least_64_chars_xxxxxxxx"

sentry:
  dsn:

devise:
  secret_key: "development_devise_secret_key_change_me_at_least_64_chars_xxxxxx"

mailer:
  user_name: TODO
  password: TODO

elasticsearch:
  url: "http://localhost:9200"

github:
  organization: otvorenesudy
  repository: otvorenesudy
  token: TODO
