.idea
.project
.project.backup
.bundle
.tags
.sass-cache/

Gemfile.lock.tags

config/configuration.yml
config/database.yml
config/newrelic.yml

db/*.sqlite3
log/*.log

storage
storage/*

tags

tmp
tmp/*

