.project
.project.backup
.bundle
.sass-cache/

config/database.yml

db/*.sqlite3
log/*.log

public/documents
public/documents/*

public/assets
public/assets/*

tmp/ 
tmp/cache/*

tags
.tags

Gemfile.lock

