<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() { window.search = new Search("<%= @model.to_s.underscore.singularize %>", Config.search) })
  </script>
<% end %>

<div class="search">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'facets/list' %>
    </div>

    <div class="col-lg-9">
      <%= render 'search/controls' %>
      <%= render 'search/results' %>
    </div>
  </div>
</div>
