<!-- TODO rm <div class="spinner"></div> -->

<% if @results.any? %>
  <%= render "#{@type.to_s.pluralize}/results", results:  @results, offset: @results.offset %>
<% else %>
  <div class="alert alert-info search-alert">
    <%= icon_tag :'search' %> Nastaveným obmedzeniam nevyhovujú <strong>žiadne výsledky</strong>.
  </div>
<% end %>
