<% if @results.any? %>
  <%= render "#{@type.to_s.pluralize}/search/results", results: @results, offset: @results.offset %>
<% else %>
  <div class="alert alert-info">
    <%= t '.no_results' %>
  </div>
<% end %>

<%= render 'search/details' %>
<%= paginate @results, window: 4 %>
