<div class="pull-right">
  <p class="muted">
      Celkovo najdených <strong><%= options[:results].total %></strong> súdnych dokumentov.
  </p>
</div>

<div class="clearfix"></div>

<% if type == Hearing %>
  <%= render :partial => 'hearings', locals: { hearings: values } %>
<% elsif type == Decree %>
  <%= render :partial => 'decrees', locals: { decrees: values } %>
<% end %>

<%= paginate options[:results] %>
