<div class="pull-right">
  <p class="muted">
      Celkovo najdených <strong><%= options[:results].total %></strong> súdnych dokumentov.
  </p>
</div>

<div class="clearfix"></div>

<%= render partial: type.name.downcase.pluralize, locals: { type.name.downcase.pluralize.to_sym => values } %>
<%= paginate options[:results] %>
