<% render 'search/initialization' %>

<section id="search-view">
  <%= render 'search/controls' %>

  <div class="row">
    <div class="span4">
      <%= render 'facets/facets' %>
    </div>

    <div class="span8">
      <%= render 'search/results' %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'search/pagination' %>
    </div>
  </div>
</section>
