<% render partial: 'search/initialization', formats: :js %>

<!-- TODO rm section -->
<section id="search-view">
  <%= render 'search/controls' %>

  <div class="row">
    <div class="col-lg-4">
      <%= render 'facets/list' %>
    </div>

    <div class="col-lg-8">
      <%= render 'search/results' %>
    </div>

    <div class="col-xs-12">
      <%= paginate @results, window: 4 %>
    </div>
  </div>
</section>
