<% render partial: 'search/initialization', formats: :js %>

<section id="search-view">
  <%= render 'search/controls' %>

  <div class="row">
    <div class="col-lg-4">
      <%= render 'facets/list' %>
    </div>

    <div class="col-lg-8">
      <%= render 'search/results' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= render 'search/pagination' %>
    </div>
  </div>
</section>
