<% content_for :scripts do %>
<%= javascript_include_tag 'open_courts/search/search' %>
<% end %>

<div class="container">
  <div id="search-view" class="row-fluid">
    <div id="search-panel" class="span4">
  
      <div id='judges-category' class="category">
        <%= category_title('Sudcovia') %>
        <%= category_input(id: 'judges', placeholder: 'Meno sudcu') %>
        <%= category_list(id: 'judges') %>
      </div>

    </div>

    <div id="search-results" class="span8">
    </div>
  </div>
</div>
