<h4>Porovnanie sudcu</h4>
<hr/>

<div id="judge-indicators-chart" class="row">
  <div class="span9">
    <canvas class="chart" width="600" height="600"></canvas>
  </div>

  <div class="span3 legend"></div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    window.judgeChart = new JudgeChart("<%= escape_javascript(judge.name) %>", <%= escape_javascript(indicators.to_hash.values[2..9].to_json) %>, <%= escape_javascript(Judge::Indicators.numerical_average.values.to_json) %>)
  </script>
<% end %>
