<h2 class="h4 text-uppercase my-4">
  <%= t '.headline' %>
</h2>

<% if decrees.any? %>
  <%= render 'decrees/search/results', results: decrees, offset: 0 %>
  <%= link_to_decrees_search t('.more'), class: 'btn btn-secondary d-block d-md-inline-block mt-4', params: query %>
<% else %>
  <p class="mb-0">
    <%= t '.none' %>
  </p>
<% end %>
