<h2 class="h4 text-uppercase my-4">
  <%= t "judges.#{prefix}_hearings.headline" %>
</h2>

<% if hearings.any? %>
  <%= render 'hearings/search/results', results: hearings, offset: 0 %>
  <%= link_to_hearings_search t("judges.#{prefix}_hearings.more"), params: query, class: 'btn btn-secondary mt-4' %>
<% else %>
  <p class="mb-0">
    <%= t "judges.#{prefix}_hearings.none" %>
  </p>
<% end %>
