<% if results.any? %>
  <div class="alert alert-warning">
    <strong><%= icon_tag :pushpin, label: 'Poznámka.' %></strong>
    Odkazy sú vyhľadávané automaticky na základe mena a pôsobiska sudcu.
    Sudcu sa týkať nemusia.
  </div>
  
  <%= render 'shared/context_search_results', results: results, offset: 0 %>
<% else %>
  O sudcovi neboli nájdené žiadne zmienky v médiách.
<% end %>
