<ol class="unstyled">
  <% judges.each_with_index do |judge, i| %>
    <li>
      <h4>
        <%= link_to_judge judge %>
        <br/>
        <small>
        </small>
      </h4>
    </li>
  <% end %>
</ol>
