<ol class="search-results" start="<%= offset + 1 %>">
  <% results.each do |judge, i| %>
    <li>
      <h4>
        <%= link_to_judge judge %>
        <br/>
        <small>
        </small>
      </h4>
      
      <div class="search-result-content">
        
        <!-- TODO add attributes -->
        TODO
        
      </div>
    </li>
  <% end %>
</ol>
