<% provide :title, "Sudcovia" %>

<section id="judges">
  <div class="page-header">
    <h1>
      Sudcovia
      <small><%= page_entries_info @judges %></small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'judges', judges: @judges %>
      <%= paginate @judges %>
    </div>
  </div>
</section>

<section id="judges-resources" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        Informácie o sudcoch boli získané z portálu <%= external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::Request::JudgeList.url, class: :muted %>
        <br/>
        Tieto informácie mohli byť ďalej doplnené o dáta získané z majetkových priznaní a štatistických výkazov sudcov.
      </small>
    </div>
  </div>
</section>
