<li data-value="<%= value %>"> 
  <i class="icon-plus add"></i>
  <% if (defined(title)) { %>
   <a href="" title="<%= title %>">
  <% } else { %>
    <a href="#">
  <% } %>
      <%= label %>
    </a>
  <span class="label facet"><%= count %></span>
</li>
