<div id="<%= facet.id %>" class="facet">
  <%= icon_link_to facet.value ? :check : :unchecked, translation[:value], search_path(params.merge facet.name => facet.value ? nil : true), join: :append %>
</div>
