<% translation = t "facets.#{name}" %>

<div class="facet">
  <% if translation[:title] %>
    <%= facet_title translation[:title]  %>
  <% end %>

  <% if translation[:placeholder] %>
    <%= facet_input id: name, placeholder: translation[:placeholder] %>
  <% end %>

  <%= facet_list id: name %>
</div>
