<div data-id="<%= facet.name %>" class="input-append">
  <%= facet_input class: :'input-large', placeholder: translation[:placeholder] %>
  <button type="button" class="btn" /><%= icon_tag 'search' %></button>
</div>
