<%= form_tag search_path, method: :get do %>
  <% content_tag :div, class: 'input-append' do %>
    <%= text_field_tag facet.name, facet.terms, class: 'span5', placeholder: translation[:placeholder] %>

    <% facet_form_params(facet) do |name, value| %>
      <%= hidden_field_tag name, value %>
    <% end %>

    <button type="button" class="btn submit"><%= icon_tag 'search' %></button>
  <% end %>
<% end %>
