<li class="facet-item<%= ' active' if result.selected? %>">
  <%= link.call facet, result, class: 'facet-link', data: track(:search, "#{'un' if result.selected?}select facet", "facet:#{facet.id}") %>
</li>
