<ul class="nav m-t-3 m-b-1">
  <% if action_name != 'subscriptions' %>
    <li class="nav-item"><%= link_to t('.subscriptions'), subscriptions_users_path, class: 'nav-link' %></li>
  <% end %>

  <% if controller_name != 'registrations' %>
    <li class="nav-item"><%= link_to t('.settings'), edit_user_registration_path, class: 'nav-link' %></li>
  <% end %>

  <li class="nav-item"><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
</ul>
