<% if results.any? %>
  <%= search_list_tag results, offset: offset do |result| %>
    <li>
      <h4>
        <%= external_link_to strip_and_highlight(result[:title], omission: false), result[:url] %>
      </h4>

      <div class="search-result-content">
        <%= strip_and_highlight result[:description], left: false %>
      </div>
    </li>
  <% end %>
<% end %>
