<h4>Výsledky kontextového vyhľadávania</h4>

<hr />

<% if @results %>
  <dl>
    <% @results.each do |result| %>
      <dt><%= external_link_to strip_and_highlight(result[:title], omission: false), result[:url] %></dt>
      <dd><%= strip_and_highlight result[:description], left: false %></dd>
    <% end %>
  </dl>

  <!-- TODO rm -->
  <p class="muted"><%= @search.query %></p>
<% end %>
