<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Formulár obsahuje <%= pluralize object.errors.count, 'chybu' %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
