<% if (messages = flash_to_messages).any? %>
  <div class="alerts">
    <% messages.each do |type, message| %>
      <div class="alert alert-<%= flash_message_type_to_class type %>" role="alert">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
