<%= search_list_tag results, offset: offset do |result| %>
  <li class="search-result-item">
    <h4 class="search-result-title">
      <%= link_to strip_and_highlight(result[:title], omission: false), result[:url] %>
    </h4>

    <div class="search-result-content">
      <%= strip_and_highlight result[:description], omission: { left: false } %>
    </div>
  </li>
<% end %>
