<% content_for :scripts do %>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51d80b721a277b06"></script>
<% end %>

<div class="social<%= ' ' + classes if defined? classes %>">
  <div class="addthis_toolbox">
    <a class="addthis_button_facebook" title="Facebook"><%= icon_tag :facebook %></a>
    <a class="addthis_button_twitter" title="Twitter"><%= icon_tag :twitter %></a>
    <a class="addthis_button_google_plusone_share" title="Google+"><%= icon_tag :'google-plus' %></a>
  </div>
</div>
