<h2 class="m-t-2 m-b-0">
  <%= t '.headline' %>
</h2>

<% if decrees.any? %>
  <%= render 'decrees/search/results', results: decrees, offset: 0 %>
  <%= link_to_decrees_search t('.more'), params: query, class: 'btn btn-outline-secondary m-t-1' %>
<% else %>
  <p class="m-t-1">
    <%= t '.none' %>
  </p>
<% end %>
