<h2><%= t '.title' %></h2>

<% if decrees.any? %>
  <%= render 'decrees/results', results: decrees, offset: 0 %>
  <hr/>
  <%= link_to_decrees_search t('.more'), params: query  %>
<% else %>
  <%= t '.no_decrees' %>
<% end %>
