<% courts.each do |court| %>
  <div class="info">
    <strong><%= link_to_court court %></strong>
    <br/>
    <%= court.address %>
  </div>
<% end %>

<div class="info">
  <%= external_link_to "Vyhľadať trasu", court_map_direction(courts.first, zoom: 8), icon: true %>
</div>
