<h2 class="m-t-2 m-b-0">
  <%= t '.headline' %>
</h2>

<% if media.any? %>
  <div class="alert alert-info m-t-2 m-b-0" role="alert">
    <%= t '.clarification' %>
  </div>

  <%= render 'search/media/results', results: media, offset: 0 %>
<% else %>
  <p class="m-t-1">
    <%= t '.none' %>
  </p>
<% end %>
