<h2>Zmienky v médiách</h2>

<% if results.any? %>
  <div class="alert alert-warning">
    <strong><%= icon_tag :pushpin, label: 'Poznámka.' %></strong>
    Odkazy sú vyhľadávané automaticky na základe názvu súdu.
    Súdu sa týkať nemusia.
  </div>

  <%= render 'shared/context_search_results', results: results, offset: 0 %>
<% else %>
  O súde neboli nájdené žiadne zmienky v médiách.
<% end %>
