<h2 class="m-t-2 m-b-0">
  <%= t '.headline' %>
</h2>

<% if media.any? %>
  <div class="alert alert-info m-t-2 m-b-0" role="alert">
    <%= t '.clarification' %>
  </div>

  <%= render 'shared/media_results', results: media, offset: 0 %>
<% else %>
  <%= t '.no_mentions' %>
<% end %>
