<ol class="unstyled">
  <% results.each do |court, highlight| %>
    <li>
      <h4>
        <%= link_to_court court %>
        <br/>
        <small>
        </small>
      </h4>
    </li>
  <% end %>
</ol>
