<% provide :title, "Mapa súdov Slovenskej Republiky" %>

<section id="courts-map">
  <div class="page-header">
    <h1><%= yield :title %></h1>
  </div>
  
  # TODO add nagigation
  <>

  <div class="row">
    <div class="span12">
      <div class="well well-small">
        Kliknutím na vyznačený bod na mape sa zobrazia základné informácie o súde.
      </div>
      
      <%= courts_map @courts, class: :global %>
    </div>
  </div>
</section>
