/* ========== */
/* = Header = */
/* ========== */

.DV-docViewer .DV-narrowControls .DV-searchBar {
  right: 16px;
}

.DV-docViewer .DV-narrowControls .DV-searchInput {
  width: 80px;
}

/* ================== */
/* = Page Container = */
/* ================== */

.DV-autoZoom .DV-textPage {
  margin-left: 35px;
}
.DV-mini .DV-textPage {
  margin-left: 7px;
}

.DV-autoZoom .p0,
.DV-autoZoom .p1,
.DV-autoZoom .p2 {
  padding-left: 35px;
}
.DV-mini .p0,
.DV-mini .p1,
.DV-mini .p2 {
  padding-left: 7px;
}

.DV-mini .DV-controls {
  height: 30px;
}
  .DV-mini .DV-header .DV-fullscreen {
    left: 4px; top: 3px;
  }
  .DV-mini .DV-zoomControls {
    margin-top: 3px;
  }
  .DV-mini .DV-docViewer-Container {
    top: 31px;
  }
  .DV-mini .DV-views {
    margin-left: 6px;
  }
    .DV-mini .DV-views div {
      margin-top: 4px;
    }
      .DV-mini .DV-views div span {
        padding: 7px 10px 6px;
      }

/* ================= */
/* = Page Elements = */
/* ================= */

.DV-autoZoom .DV-pageNumber,
.DV-autoZoom .DV-textCurrentPage {
  text-align: center;
  width: 30px;
  padding-left: 0px;
}

/* Annotations ---------------------------------------*/

.DV-mini .DV-annotationTab {
  background-image: url(/assets/document_viewer/embed/tabs-small.png);
  width: 29px;
  left: -13px;
  height: 15px;
}
  .DV-mini .DV-activeAnnotation .DV-annotationTab {
    background-position: 0 -30px;
  }
  .DV-mini .DV-activeAnnotation .DV-annotationClose {
    background-position: 4px 2px;
  }
