<% provide :title, "Pojednávania" %>

<% render 'search/initialization.js', type: Hearing %>

<section id="search-view">
  <div class="row">
    <div id="search-panel" class="span4">
      <label class="checkbox">
        <input type="checkbox" id="historical" />Zobraziť minulé pojednávania
      </label>

      <%= render "facets/facets", type: Hearing %>
    </div>

    <div class="span8">
      <div class="row">
        <div id="search-info" class="span8"></div>
      </div>

      <div class="row">
        <div id="search-results" class="span8"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-pagination" class="span12"></div>
  </div>
</section>
