<% provide :title, "Pojednávania" %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        window.app = new OpenCourts.Search.App({ type: 'hearing' })
        window.app.start()
    })
  </script>
<% end %>

<section id="search-view">
  <div class="row">
    <div id="search-panel" class="span4">

      <% Hearing.facets.each do |field, facet| %>
        <%= render "facets/#{facet.type}_facet", field: field %>
      <% end %>

    </div>

    <div class="span8">
      <div class="row">
        <div id="search-info" class="span8"></div>
      </div>

      <div class="row">
        <div id="search-results" class="span8"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="search-pagination" class="span12"></div>
  </div>
</section>
