<% provide :title, @hearing.file_number %>

<section id="hearing-info">
  <div class="page-header">
    <h1>
      <%= yield :title %>
      <small>
      <!-- TODO -->
      </small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span12">
      <!-- TODO -->
    </div>
  </div>
</section>

<section id="hearing-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <small class="muted">
          Informácie o súdnom pojednávaní boli získané zo <%= external_link_to 'zdroja', .url, class: :muted %>,
          ktorého posledná aktualizácia bola zistená <%= time_tag @hearing.updated_at.to_date, format: :default %>.
        </small>
      </div>
    </div>
  </div>
</section>
