defaults: &defaults
  secret_token: TODO

  rollbar:
    access_token: TODO

  bing:
    key: TODO

  devise:
    key: TODO

  github:
    organization: TODO
    repository: TODO

  mailer:
    username: TODO
    password: TODO

  newrelic:
    key: TODO

  sidekiq:
    password: TODO

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
