defaults: &defaults
  secret_token: TODO

  airbrake:
    key: TODO

  devise:
    key: TODO

  bing:
    key: TODO

  mailer:
    username: TODO
    password: TODO

  resque:
    password: TODO

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
