# Refactored from PG to MySQL

development:
  adapter: mysql2
  encoding: utf8
  collation: utf8_slovak_ci
  database: otvorenesudy_development
  pool: 5
  username: yourusername
  password: yourpassword
  socket: /var/run/mysqld/mysqld.sock
  
test:
  adapter: mysql2
  encoding: utf8
  collation: utf8_slovak_ci
  database: otvorenesudy_test
  pool: 5
  username: yourusername
  password: yourpassword
  socket: /var/run/mysqld/mysqld.sock
 
production:
  adapter: mysql2
  encoding: utf8
  collation: utf8_slovak_ci
  database: otvorenesudy_production
  pool: 5
  username: yourusername
  password: yourpassword
  socket: /var/run/mysqld/mysqld.sock
