<% unless current_page.last? %>
  <li class="page-item">
    <%= link_to url, class: 'page-link' do %>
      <%= icon_tag 'arrow-right', 'aria-hidden' => 'true' %>
      <span class="sr-only"><%= t 'kaminari.pagination.next' %></span>
    <% end %>
  </li>
<% end %>
