<% unless current_page.first? %>
  <li class="page-item">
    <%= link_to url, class: 'page-link' do %>
      <%= icon_tag 'arrow-left', 'aria-hidden' => 'true' %>
      <span class="sr-only"><%= t 'kaminari.pagination.previous' %></span>
    <% end %>
  </li>
<% end %>
