<% provide :title, "#{@status} &middot; #{@error}".html_safe %>

<section id="error">
  <div class="unicorn centered">
    <img src="<%= asset_path('unicorn.png') %>" alt="Jednorožec" />
  </div>

  <div class="page-header centered">
    <h1>
      <span class="text-error">Ups, rozzúrili ste jednorožca!</span>
      <br/>
      <small><%= @description %></small>
    </h1>
  </div>
</section>

<% if Rails.env.development? %>
  <div class="row">
    <div class="span12">
      <%= debug @exception %>
      <%= trace @trace %>
    </div>
  </div>
<% end %>
