<% provide :title, title(@status, @title) %>

<section id="error-description" class="error">
  <div class="row">
    <div class="span6">
      <h1 class="centered">
        <%= @status %> <%= @title %>
      </h1>

      <p class="centered">
        A preto sa veľmi rozzúril jednorožec!
        <br/>
        <span class="muted"><%= @description %></span>
      </p>
    </div>

    <div class="span6">
      <img class="unicorn" src="<%= asset_path('unicorn.png') %>" alt="Jednorožec" />
    </div>
  </div>
</section>
