<% if subscriptions.any? %>
  <div class="page-header">
    <h2>
      <%= t '.title' %>
    </h2>
  </div>

  <%= render 'subscriptions/list', model: Decree, subscriptions: subscriptions, offset: 0 %>
<% end %>
