<% if subscriptions.any? %>
  <div class="page-header">
    <h2>
      Notifikácie pre nové pojednávania
    </h2>
  </div>

  <%= render 'subscriptions/list', model: Hearing, subscriptions: subscriptions, offset: 0 %>
<% end %>
