<div class="footer">
  <p>
    S pozdravom, <br/>
    tím projektu <%= link_to 'Otvorené Súdy', root_url %>
  </p>
  <p class="muted">
    Projekt Otvorené Súdy podporili Transparency International Berlín
    a projekt Reštart Centra pre filantropiu.
  </p>
</div>
