<li class="timeline-<%= timeline_distance(previous, hearing) %>">
  <h4>
    <%= link_to_hearing hearing, hearing_headline(hearing, limit: 67) %>
    <% if hearing.date %>
      <br/>
      <small>
        <%= hearing_date hearing.date %>
      </small>
    <% end %>
  </h4>
</li>
