<ol class="unstyled">
  <% proceedings.each_with_index do |proceeding, i| %>
    <li>
      <h4>
        <%= link_to_proceeding proceeding, 'test' %>
        <br/>
        <small>
        </small>
      </h4>
    </li>
  <% end %>
</ol>
