<% provide :title, "IČS #{@proceeding.file_number} &middot; Súdne konanie".html_safe %>

<section id="proceeding-info">
  <div class="page-header">
    <h1>
      Súdne konanie
      <%= tooltip_tag @proceeding.file_number, "Identifikačné číslo súdnych spisov", :right %>
      <br/>
      <small>
        Evidujeme <%= number_with_translation(@hearings.count, key: :hearing) %>
        a <%= number_with_translation(@decrees.count, key: :decree) %>
      </small>
    </h1>
  </div>
  
  <div class="row">
    <div class="span8">
      <!-- TODO -->
    </div>
  </div>
</section>

<section id="proceeding-resource">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
        <!-- TODO -->
      </div>
    </div>
  </div>
</section>
