<h2 class="h4 text-uppercase mt-4 mb-2">
  <%= t '.headline' %>
</h2>

<p class="text-muted">
  <%= t '.disclaimer_html' %>
</p>

<ol class="search-result-list mt-4">
  <% @similar.each do |decree| %>
    <%= render partial: 'decrees/search/result', locals: { decree: decree, highlight: nil } %>
  <% end %>
</ol>
