<div class="row">
  <div class="span9">
    <%= render partial: 'decrees/results', locals: { decrees: @decrees } %>
  </div>

  <div class="span3">
    <h4>
      <%= link_to_decrees_search "Viac rozhodnutí", params: @query  %>
    </h4>
  </div>
</div>


