<div class="annotation_box">
  <p class="author"><%= author %>, <%= date %></p>
  <p><%= moderated_comment %></p>
  <% if(annotationsAllowed) { %>
    <a href="#" class='reply'>Odpovedať</a><a href="#" class='show_replies'>Zobraziť reakcie</a>
  <% } %>
</div>
