<div class="comment-box comment-top group">
  <div class="avatar">
    <img width="60" height="60" src="" alt="Anonym">
  </div>
  <div class="comment">
    <p class="date">Anonym, <%= DV.DateFormat.format(created_at) %></p>
    <div class="text">
        <p><%= moderated_comment %></p>
    </div>
  </div>
</div>
