<div class="attachment_list">
  <h2>Vyberte prílohu</h2>
  <div class="inner_list">
    <% attachments.each(function(attachment) { %>
      <a href="#" class="attachment_link" data-attachment-number="<%= attachment.getNumber() %>"><%= attachment.getName() %></a>
    <% }); %>
  </div>
</div>
