<div id="_dv_attachment_selector" title="Zobraziť zoznam príloh">
</div>

<div class="_dv_document_control">
  <a href="" class="dv_button scan _dv_document_scan">Scan</a>
  <a href="" class="dv_button fulltext _dv_document_fulltext">Fulltext</a>
  <span class="instructions">Myšou označte problémovú časť zmluvy</span>
  <div class="_dv_annotation_tools">
    <div class="_dv_annotations">Poznámky <b class="_dv_annotations_count"></b></div>
    <a href="" class="add_note _dv_add_annotation">Pridať novú</a>
    <a href="" class="dv_button plain _dv_pin_annotations"></a>
  </div>
</div>

<div class="pages _dv_page_nav">
  <a href="#" class="up _dv_prev_page" title="Predchádzajúca strana">&uarr;</a>
  <input type="text" class="_dv_current_page" size="2" /> <span>/</span> <span class="_dv_total_pages"></span>
  <a href="#" class="down _dv_next_page" title="Nasledujúca strana">&darr;</a>
</div>

<div class="doc _dv_document"></div>
<div class="doc _dv_comments"></div>


<div class="pages _dv_page_nav">
  <a href="" class="up _dv_prev_page" title="Predchádzajúca strana">&uarr;</a>
  <input type="text" class="_dv_current_page" size="2" /> <span>/</span> <span class="_dv_total_pages"></span>
  <a href="" class="down _dv_next_page" title="Nasledujúca strana">&darr;</a>
</div>
