<div class="row">
  <div class="span12">
    <div class="results _dv_search_results"></div>
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="controls _dv_document_control">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn _dv_document_scan"><i class="icon-picture"></i> Scan</button>
        <button type="button" class="btn _dv_document_fulltext"><i class="icon-align-left"></i> Fulltext</button>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="controls centered _dv_document_control">
      <div class="input-append _dv_search">
        <input type="text" class="span4" name="search" value="" placeholder="Hľadať v dokumente " />
        <button class="btn"><i class="icon-search"></i></button>
      </div>
    </div>
  </div>
  
  <div class="span3">
    <div class="controls pull-right _dv_document_control _dv_page_nav">
      <div class="input-prepend input-append">
        <button type="button" class="btn _dv_prev_page" title="Predchádzajúca strana"><i class="icon-arrow-left"></i></button>
        <input type="text" class="page _dv_current_page" name="page" value="" />
        <span class="page add-on">/&nbsp;<span class="_dv_total_pages"></span></span>
        <button type="button" class="btn _dv_next_page" title="Nasledujúca strana"><i class="icon-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="viewport _dv_document"></div>

<div class="row">
  <div class="offset9 span3">
    <div class="controls pull-right _dv_document_control _dv_page_nav">
      <div class="input-prepend input-append">
        <button type="button" class="btn _dv_prev_page" title="Predchádzajúca strana"><i class="icon-arrow-left"></i></button>
        <input type="text" class="page _dv_current_page" />
        <span class="page add-on">/&nbsp;<span class="_dv_total_pages"></span></span>
        <button type="button" class="btn _dv_next_page" title="Nasledujúca strana"><i class="icon-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
