<div class="annotation_box">
  <p class="user">
    Prispievate ako <strong><%= user %></strong>
  </p>
  <form method="get" action="">
    <label>Poznámka</label>
    <textarea rows="" cols="" name="note"></textarea>
    <div class="buttons2">
      <input type="submit" value="Pridať poznámku" class="submit button">
      <a href="#" class="cancel">Zrušiť</a>
    </div>
  </form>
</div>
