<div class="_dv_notification group">
  <div class="_dv_notification_icon"></div>
  <div class="_dv_notification_text">
    <h2>Túto zmluvu nie je možné zobraziť.</h2>
    <p>
      Zverejnená bola iba notifikácia o zmluve podľa zákona 211/2000 Z.z.,
      &sect;5a odst. 3.
    </p>
  </div>
</div>
