.btn {
  text-transform: uppercase;
}

.btn-primary {
  @include button-variant($orange, transparent, $navy, transparent, $navy, transparent);

  &:hover.focus, &:focus.active,
  &:hover:focus, &:focus:active {
    box-shadow: none !important;
  }
}

.btn-secondary {
  @include button-variant($white, transparent, $input-bg, transparent, $input-bg, transparent);
  @include color-variant($blue, $navy);

  box-shadow: none !important;
}
