.chart {
  @extend .m-b-1;
}

.chart-content {
  @extend .m-a-0;
}

.chart-legend {
  @extend .m-b-1;
}

.chart-legend-title {
  @extend .m-a-0;
}

.chart-legend-content {
  margin-top: .4 * $spacer-y;

  span {
    @include size(1rem);

    display: inline-block;
    vertical-align: -7.95%;
    margin-right: $tooltip-padding-x;
  }
}
