.map {
  @extend .m-b-1;

  width: 100%;

  @each $breakpoint in map-keys($container-max-widths) {
    @include media-breakpoint-down($breakpoint) {
      height: map-get($container-max-widths, $breakpoint) / 2;
    }
  }
}

.map-marker {
  @include reset-text;

  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

// use default cursor and disable border radius and box shadow

.gm-style div {
  cursor: default !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

// use custom map marker close button

.gm-style .gm-style-iw + div {
  @extend .ion-close;

  @include plain-hover-focus {
    color: $text-muted;
    opacity: 1 !important;
  }

  text-align: center;

  &::before {
    cursor: pointer;
  }

  img {
    display: none;
  }
}

// use simpler map type selector

.gm-style .gm-style-mtc div + div {
  display: none;
}
