.nav-primary {
  .nav-link {
    color: $navy;

    @include hover-focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

.nav-secondary {
  @extend .nav-primary;

  .nav-link {
    margin: 0;

    &:not(:last-child) {
      margin-right: map-get($spacers, 3);

      &::after {
        color: $info;
        content: "\00b7";
        font-weight: $font-weight-bold;
        position: absolute;
        text-align: center;
        width: map-get($spacers, 3);
        z-index: -1;
      }
    }
  }
}

.nav-link {
  margin: $nav-link-padding-y $nav-link-padding-x;
  padding: 0;

  @include hover-focus {
    text-decoration: $link-hover-decoration;
  }
}
