.nav-primary {
  .nav-link {
    color: $navy;

    @include hover-focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

.nav-secondary {
  .nav-link {
    color: $navy;

    @include hover-focus {
      color: $blue;
      text-decoration: none;
    }

    margin: 0;

    &:not(:last-child) {
      margin-right: map-get($spacers, 3);

      &::after {
        color: $info;
        content: "\00b7";
        font-weight: $font-weight-bold;
        position: absolute;
        text-align: center;
        width: map-get($spacers, 3);
        z-index: -1;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;

    .nav-link {
      margin: 0 auto;

      &:not(:last-child) {
        margin-right: auto;

        &::after {
          display: none;
        }
      }
    }
  }
}

.nav-link {
  margin: $nav-link-padding-y $nav-link-padding-x;
  padding: 0;

  @include hover-focus {
    text-decoration: $link-hover-decoration;
  }
}

.nav-tabs {
  .nav-link {
    margin: 0;
    padding: $nav-link-padding-y $nav-link-padding-x;

    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;

    @include hover-focus {
      color: $nav-tabs-link-hover-color;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;

    .nav-link {
      @include plain-hover-focus {
        border-color: $nav-tabs-border-color;
      }

      &::after {
        display: none;
      }
    }
  }
}

.navbar-brand {
  @include color-variant($navy, $blue);
}

.navbar-collapse {
  .navbar-expand-xl &.d-xl-block {
    @include media-breakpoint-up(xl) {
      display: block !important;
    }
  }
}

.navbar-toggler {
  @extend .nav-item, .nav-link;

  font-weight: inherit;
  text-transform: inherit;

  border: none;
  line-height: $line-height-base;
}
