.pagination {
  flex-wrap: wrap;
  margin: - map-get($spacers, 3) 0 0 0;
}

.page-item {
  margin-top: map-get($spacers, 3);
}

.page-link {
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  @include color-variant($pagination-color, $pagination-hover-color);

  @include hover-focus {
    text-decoration: none;
  }
}
