.pagination {
  margin: 0;
}

.page-link {
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  @include color-variant($pagination-color, $pagination-hover-color);

  @include hover-focus-active {
    text-decoration: none;
  }
}
