body {
  .container {
    min-width: 320px;
  }

  .sme {
    @include color-variant($text-muted, #cf2529);
  }

  .tis {
    @include color-variant($blue, $navy);
  }
}

header {
}

footer {
  border-top: $border-width * 2 solid $secondary;

  .sme {
    @include hover-focus {
      text-decoration: none;
    }
  }
}
