@import 'variables';

.error {
  h1 {
    margin-top: 120px;
    
    color: $red;
    
    small {
      display: block;
      margin: 10px 0px;
    }
  }
  
  p {
    line-height: 40px;
    font-size: 24.5px;
  }
  
  .unicorn {
    margin-top: 80px;
  }
}
