@import 'variables';
@import 'mixins';

// popovers and tooltips

.popover-inner {
  text-align: left;
}

.tooltip-inner {
  line-height: $baseLineHeight;
  font-weight: normal;
  text-align: center;
}

// forms

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &:focus {
    border-color: $grayLight;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba($grayLight, 0.6));
  }
}

// tabs

.tabbable {
  [class*="span"] {
    overflow: hidden;
  }
}

// outlines

a:hover, a:active,
a[data-toggle="tab"]:focus,
input:hover, input:active,
select:hover, select:active, select:focus,
textarea:hover, textarea:active {
  outline: 0;
}

// muted links

.muted a {
  color: $grayLight;
}

// alert links

.alert a {
  &.close, &.close i {
    display: inline-block;
    
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 0px;
    bottom: 0px;
    
    right: -25px;
    
    font-size: $baseFontSize;
    font-weight: normal;
    
    text-align: center;
    text-decoration: none;
    
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.alert-error a {
  color: $errorLinkColor;
  
  &:hover, &:focus {
    color: $errorLinkColorHover;
  }
}

.alert-info a {
  color: $infoLinkColor;
  
  &:hover, &:focus {
    color: $infoLinkColorHover;
  }
}

.alert-notice a,
.alert-warning a {
  color: $warningLinkColor;
  
  &:hover, &:focus {
    color: $warningLinkColorHover;
  }
}

.alert-success a {
  color: $successLinkColor;
  
  &:hover, &:focus {
    color: $successLinkColorHover;
  }
}

// other stuff

.ui-helper-hidden-accessible {
  display:none;
}
