.feature {
  background: $input-bg;

  ol {
    background: url('maskicon.svg') no-repeat -25.25px center;
    background-size: 90px;
    padding-left: 62px;
  }

  li:before {
    content: "\b7";
    padding-right: map-get($spacers, 2);
  }
}

.square {
  position: relative;
  flex: 1 0 auto;
  height: auto;
  margin: 0 map-get($spacers, 3);

  color: $white;
  background: $blue;

  @include hover-focus-active {
    color: $navy;
    text-decoration: none;
  }

  &:before {
    content: "";
    float: left;
    padding-top: 100%;
  }

  svg {
    display: block;
    position: absolute;
    top: map-get($spacers, 4);
    left: calc(50% - 30px);
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    height: $line-height-base * 2rem;
    bottom: map-get($spacers, 3);
    left: 10%;
  }
}
