.jumbotron {
  @include gradient-y(#282f62, #8e44ad);

  color: $jumbotron-color;
}

.features {
  h1 {
    @extend .m-t-3;

    small {
      color: $text-muted;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  p {
    @extend .m-b-3;

    &:last-child {
      margin-bottom: 3.5 * $spacer-y !important;
    }
  }
}

.partners {
  border-top: $hr-border-width solid $hr-border-color;

  h1 {
    @extend .m-t-3;
  }

  a {
    @extend .m-t-3;
    @extend .m-r-3;
    @extend .m-b-1;

    display: inline-block;
    vertical-align: middle;

    img {
      display: block;

      @include filter-grayscale;

      @include hover-focus {
        @include filter-none;
      }
    }
  }

  $partners-scale: 6.3;

  .partner-tis img {
    height: $partners-scale * 1rem;
  }

  .partner-sme img {
    height: $partners-scale * .5rem;
  }

  .partner-kas img {
    height: $partners-scale * .9rem;
  }

  .partner-np img {
    height: $partners-scale * .6rem;
  }

  .partner-ip img {
    height: $partners-scale * .3rem;
  }
}
