#judge-indicators-chart {
  .legend {
    margin-top: 40px;

    ul {
      margin-left: 0px;

      li {
        margin-bottom: 10px;
        font-size: 14px;

        .color-sample {
          display: block;
          float: left;
          width: 14px;
          height: 14px;
          margin-right: 0.5em;
        }
      }
    }
  }
}
