// imports (order is significant)

@import 'variables';
@import 'mixins';
@import 'bootstrap';
@import 'font-awesome';

// beta

.beta {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 120px;
  height: $navbarHeight;
  line-height: 15px;
  border-bottom: 1px solid $linkColor;
  
  color: $white;
  background: $linkColor;
  
  text-align: center;
  
  z-index: $zindexFixedNavbar + 1;
  
  span {
    display: block;
    top: 0px;
    margin-left: $navbarHeight;
    padding: 5px 5px 5px 0px;
  }
  
  i {
    position: absolute;
    left: 0px;
    width: $navbarHeight;
    height: $navbarHeight;
    line-height: $navbarHeight;
    
    font-size: 20px;
  }
}

// general

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  min-width: 940px;
  height: 100%;
  margin-top: $navbarHeight;
}

@include selection($linkColor, $white); 

section + section {
  padding-top: 40px;
}

address, form, nav, p, dl, ol, ul, table {
  &:last-child {
    margin-bottom: 0px;
  }
}

nav.pagination {
  margin-top: 40px;
}

div.nav {
  margin: 20px 0px;
}

// text

.capital {
  font-family: $serifFontFamily;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
}

// helpers

.hidden {
  display: none;
}

.centered {
  text-align: center;

  &.nav {
    float: left;
    position: relative;
    left: 50%;
  }  

  .nav-pills {
    float: left;
    position: relative;
    left: -50%;
    margin: 0px;
  }
}

.justified {
  text-align: justify;
}

.gutter {
  display: inline-block;
  width: $gridGutterWidth;
}

.well {
  p:last-child {
    margin-bottom: 0px;
  }
}

// tables

table {
  .centered {
    text-align: center;
  }

  .number {
    text-align: right;
  }
}

// icons

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-decoration: none;

  &:before {
    display: inline-block;
    text-decoration: none;
  }
}

i.icon-space {
  width: auto;
  font-size: $baseFontSize;
}

// links with icons

a.icon {
  &:hover, &:focus {
    text-decoration: none;

    i:before {
      cursor: pointer;
    }

    span {
      text-decoration: underline;
    }
  }
}

.nav a {
  &:hover, &:focus {
    span {
      text-decoration: none;
    }
  }
}

// alerts

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}

// popovers and tooltips

a[data-toggle="popover"], a[data-toggle="tooltip"] {
  border-bottom: 1px dotted $grayLight;

  color: $textColor;
  cursor: help;
  text-decoration: none;

  i:before {
    cursor: help;
  }

  &.muted {
    color: $grayLight;
  }

  &.undecorated {
    border-bottom: none;
  }
}

div.popover {
  width: auto;
}

h1, h2, strong {
  a[data-toggle="popover"], a[data-toggle="tooltip"] {
    border-bottom-style: dashed;
  }
}

.well {
  a[data-toggle="popover"], a[data-toggle="tooltip"] {
    border-bottom-color: $gray;
  }
}

// navigation

.navbar .nav > li {
  &.active > a,
  &.active > a:hover,
  &.active > a:focus,
  &.dropdown.active > .dropdown-toggle,
  &.dropdown.active.open > .dropdown-toggle,
  &.dropdown.open > .dropdown-toggle {
    background-color: inherit;
    @include box-shadow-none;
  }

  & > a.brand {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 5px 10px;

    font-size: 24px;
  }

  &.divider-vertical {
    margin: 0px;
  }

  & > a {
    height: 20px;
    line-height: 20px;
    padding: 10px;

    span {
      display: inline-block;
      line-height: 20px;
    }

    [class^="icon-"], [class*=" icon-"] {
      margin: 0px;
      padding: 0px;

      text-decoration: none;
    }
  }

  li > a {
    [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      width: 18px;

      text-align: center;
    }

    i.icon-space {
      width: inherit;
    }
  }
}

.nav-tabs {
  border-color: #ccc;
}

.nav-tabs > li > a {
  margin-bottom: 1px;

  border-color: $grayLighter $grayLighter $white;
}

.nav-tabs > li > a:hover {
  border-color: $grayLighter;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  margin-bottom: 0px;
  padding-bottom: 9px;

  border-color: #ccc #ccc $white;
}

// header

header {
  border-top: 1px solid $navbarInverseBorder;
  border-bottom: 1px solid $navbarInverseBorder;

  @include linear-gradient(45deg, darken($linkColorHover, 20%), darken($linkColor, 10%));

  color: $white;

  text-align: center;

  &.jumbotron {
    height: $jumbotronHeight;
    min-height: $jumbotronMinHeight;
    max-height: $jumbotronMaxHeight;
    margin: -$navbarHeight 0px 0px 0px;
  }

  h1 {
    margin: 0px;
    padding: 60px 0px;
    line-height: $baseFontSize * 3.5;
    font-size: $baseFontSize * 2.8;
    font-weight: normal;

    text-shadow: 0px 0px 20px $purple;

    small {
      display: block;
      margin: 10px 0px;
      
      line-height: $baseFontSize * 2.4;
      font-size: $baseFontSize * 1.8;
      
      color: $white;

      &.total {
        margin-top: 40px;
      }
    }
  }
}

// search

.search {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px;
  
  // TODO refactor
  top: 50%;
  margin-top: $navbarHeight - 347px;
  
  z-index: $zindexDropdown - 10;

  h1 {
    padding: 0px 0px 60px 0px;
    line-height: $baseFontSize * 4.8;
    font-size: $baseFontSize * 4;
  }

  .form-search {
    margin: 0px auto;
    padding: 40px;
    
    background-color: rgba(#000, .2);
  }

  .search-query {
    width: 320px;

    color: $white;

    background: rgba(#000, .4);
  }
  
  .search-query, .search-submit {
    padding: 6px 20px;
  }
  
  .input-append .search-query,
  .input-append .search-submit {
    @include border-radius(0px);
  }

  .search-query, .search-query:hover, .search-query:focus,
  .search-submit, .search-submit:hover, .search-submit:focus {
    border-color: $btnInfoBackground;

    @include box-shadow(0px 1px 1px rgba($black, 0.075), 0px 0px 20px $purple);
  }

  .input-append {
    display: block;
    margin: 0px auto;
    text-align: center;

    i {
      height: auto;
      line-height: auto;
    }
  }
}

// footer

footer {
  margin-top: 80px;
  padding: 50px 0px;

  border-top: 1px solid darken($grayLighter, 12.5%);

  background: $grayLighter;
  color: $gray;

  a {
    color: $gray;

    &:hover { 
      color: $grayDarker;
      text-decoration: underline;
    }
  }
  
  hr {
    margin: 10px 0px;
    border-top-color: darken($grayLighter, 12.5%);
    border-bottom-color: $white;
  }

  ul.nav {
    margin: 10px 0px 50px 0px;

    li > a {
      display: inline-block;

      &:hover {
        text-decoration: underline; 
      }
    }

    li + li {
      padding-top: 5px;
    }
  }
  
  ul.social {
    margin: 10px 0px;
  }

  .note {
    margin-bottom: 10px;

    font-size: $fontSizeSmall;

    a {
      color: darken($grayLight, 12.5%);
    }
    
    &:first-child {
      margin-top: 50px;
    }
  }
}

// sections

section.features {
  margin: 160px 0px;

  .feature {
    padding-top: 20px;
    overflow: hidden;
  }

  a {
    font-weight: bold;
    text-decoration: none;
  }

  img, i {
    margin-top: -10px;
    font-size: 160px;
  }

  hr {
    margin: 80px 0px;
  }
}

section.logos {
  margin: 80px 0px;
  padding-top: 0px;
  
  h1 {
    font-weight: normal;
  }
  
  hr {
    margin: 40px 0px;
  }
}

section.page {
  h1 {
    @extend .page-header;
  }
  
  p + h1 {
    margin-top: 40px;
  }
  
  h2, h3, h4, h5, h6 {
    margin-top: 20px;
  }
  
  p {
    text-align: justify;
    
    &.centered {
      text-align: center;
    }
  }
  
  .img-polaroid {
    width: 610px;
  }
}

section.profile {
  .accordion-group {
    margin: 0px;
    border: none;
  }
  
  .inline li {
    padding: 0px 5px 0px 0px;
  }
  
  .unstyled {
    margin-left: 30px;
    margin-bottom: 10px;
  }
  
  li a[target="_blank"] {
    color: $textColor;
  }
}

section.subscriptions {
  .subscription-list {
    margin: 0px;

    list-style: none;

    & > li + li {
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px dashed darken($grayLighter, 12.5%);
    }
  }

  .subscription-controls {
    margin-top: 10px;

    label {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    input[type="radio"] {
      margin-top: 3px;
      margin-bottom: 1px;
    }
  }
}
