@import 'bootstrap';
@import 'font-awesome';

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;

  .navbar {
    width: 100%;
    
    .logo {
      float: left;
    }

    .page-header {
      padding: 20px;
      padding-top: 5px;
      color: $linkColor;

      a {
        padding-right: 20px;

        &:hover {
          color: $purple;
          text-decoration: none;
        }
      }
    }
  }
}


