body {
  .sme {
    @include color-variant($text-muted, #cf2529);
  }

  .tis {
    @include color-variant($blue, $navy);
  }
}

header {
  .nav.border-top {
    @include media-breakpoint-up(md) {
      border-top: 0 !important;
    }
  }

  .nav.border-right {
    @include media-breakpoint-down(sm) {
      border-right: 0 !important;
    }
  }
}

footer {
  border-top: $border-width * 2 solid $secondary;

  .sme {
    @include hover-focus {
      text-decoration: none;
    }
  }
}
