body {
  .sme {
    @include color-variant($text-muted, #cf2529);
  }

  .tis {
    @include color-variant($blue, $navy);
  }
}

header {
  .navbar-brand {
    @include color-variant($navy, $blue);
  }

  @include media-breakpoint-up(xl) {
    #navbar {
      display: block !important;
    }
  }
}

footer {
  border-top: $border-width * 2 solid $secondary;

  .sme {
    @include hover-focus {
      text-decoration: none;
    }
  }
}
