@import 'variables';
@import 'mixins';

.map {
  padding: 0px;
  border: 1px solid $grayLight;
  
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba($grayLight, 0.6));
  
  .view {
    height: inherit;
    
    img { 
      max-width: none;
    }
    
    label { 
      display: inline;
      width: auto; 
    }
    
    .info + .info {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid $grayLighter;
    }
  }
}

.map {
  height: $gridRowWidth / 2;
}

.map.global {
  height: 10 * $gridRowWidth / 16;
}

.map.thumbnail {
  width: 300px;
  height: 200px;
}
