@mixin linear-gradient($angle, $from, $to) {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: $from;
  background-origin: padding-box;
  background-repeat: repeat-x;

  background-image: -webkit-linear-gradient($angle, $from, $to); // Safari 5.1+, Chrome 10+
  background-image:    -moz-linear-gradient($angle, $from, $to); // Firefox 3.6+
  background-image:      -o-linear-gradient($angle, $from, $to); // Opera 11.10
  background-image:         linear-gradient($angle, $from, $to); // Standard, Internet Explorer 10
}

@mixin box-shadow($inner, $outer) {
  -webkit-box-shadow: $inner inset, $outer; // Safari 3 - 4 
     -moz-box-shadow: $inner inset, $outer; // Firefox 3.5 - 3.6 
          box-shadow: $inner inset, $outer; // Opera 10.5, Internet Explorer 9, Firefox 4+, Chrome 10+ 
}
