@import 'bootstrap/mixins';

@mixin link-variant($color, $hover-color: null) {
  color: $color;

  svg {
    fill: $color;
  }

  @include hover-focus-active {
    color: $hover-color;

    svg {
      fill: $hover-color;
    }
  }
}
