#pdf-container {
  overflow: auto;
  position: absolute;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .textLayer {
    .highlight {
      opacity: 1;
      background-color: $blue;
      border-radius: 0px;
    }
  }
}

.pdfViewer .page {
  border: none !important;
  -o-border-image: none !important;
  border-image: none !important;
}
