@import 'mixins';
@import 'variables';

.search-controls {
  form {
    position: relative;
    margin-bottom: 20px;

    .remove {
      display: block;
      position: absolute;

      width: 12px;
      height: 20px;
      margin: 2px;
      padding: 2px 4px;
      
      top: 1px;
      right: 39px;

      background: $white;

      text-align: center;
    }
  }

  input, select {
    margin-bottom: 0px;
  }

  select {
    margin-right: $gridGutterWidth;
  }  
}

.search-subscribe,
.search-reset {
  color: $textColor;

  font-weight: bold;

  &:hover, &:focus {
    color: inherit;
  }
}

.search-subscribe i {
  color: $green;
}

.search-reset i {
  color: $red;
}

.search-separator {
  margin: 0px 6px;
}

.search-message {
  margin-bottom: 20px;

  color: $grayLight;
  text-align: right;
}

.search-results {
  margin: 0px 0px 0px 20px;
  border-left: 1px dashed darken($grayLighter, 12.5%);

  li {
    padding: 10px 10px 20px 10px;

    color: $grayLight;

    &:hover, &:focus {
      background: lighten($grayLighter, 5%);
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }

  li + li {
    border-top: 1px dashed darken($grayLighter, 12.5%);
  }

  h4, .search-result-content, blockquote {
    color: $textColor;
  }

  .search-result-identifiers {
    text-align: right;
  }

  blockquote {
    margin-top: 10px;
    margin-bottom: 0px; 

    em {
      padding: 0px 4px;

      @include border-radius(2px);

      background: $infoBackground;
      color: $infoText;
    }
  }
}

.tabbable .search-results {
  margin-left: 40px;
  border: none;
}

.facet {
  & + .facet {
    margin: 20px 0px;
  }

  h4 {
    margin: 0px;

    &.collapsible {
      cursor: pointer;
    }

    i {
      width: 20px;
      height: 20px;
      line-height: 20px;

      color: $grayLighter;

      text-decoration: none;
      text-align: center;

      &:focus, &:hover {
        color: darken($grayLighter, 12.5%);
      }

      &:before {
        cursor: pointer;
      }
    }
  }

  .facet-content {
    position: relative;

    left: -20px;
    padding-left: 20px;

    input[type="text"], .add-on {
      width: 175px;
      margin: 10px 0px 0px 0px;
    }

    .facet-results {
      margin-top: 10px;
    }

    ul {
      margin: 0px;
    }

    li {
      position: relative;

      .label {
        background-color: $grayLighter;
        color: $gray;
        text-shadow: none;
      }

      .add, .remove {
        position: absolute;
        left: -20px;

        color: $grayLight;

        text-align: center;
        text-decoration: none;

        &:hover {
          color: $linkColorHover;
        }
      }

      .add, .remove,
      .add i, .remove i {
        display: inline-block;

        width: 20px;
        height: 20px;
        line-height: 20px;
        top: 0px;
        bottom: 0px;
      }

      .add {
        display: none;
      }

      &:not(.selected):hover .add {
        display: inline-block;
      }
    }

    a[data-collapse="fold"] {
      display: none;
    }
  }
}

// TODO rm
/*.spinner {
  position: relative;
  top: 40px;
  margin: auto;
}*/
