@import 'mixins';
@import 'variables';

// TODO fix icon links (add / remove) in facets, add both width and height to anchors and icons

.search-controls {
  form {
    margin-bottom: 10px;
  }
  
  input, select {
    margin-bottom: 0px;
  }
  
  select {
    margin-right: $gridGutterWidth;
  }
}

.search-message {
  color: $grayLight;
  text-align: right;
}

.search-results {
  margin: 0px 0px 0px 20px;

  li {
    color: $grayLight;
    
    &:hover, &:focus {
      background: lighten($grayLighter, 5%);
    }
  }
  
  h4, .search-result-content, blockquote {
    color: $textColor;
  }
  
  .search-result-identifiers {
    text-align: right;
  }

  blockquote {
    margin-top: 10px;
    margin-bottom: 0px; 
  
    em {
      padding: 0px 4px;

      @include border-radius(2px);

      background: $infoBackground;
      color: $infoText;
    }
  }

  li {
    padding: 10px 10px 20px 10px;
  }

  li + li {
    border-top: 1px dashed darken($grayLighter, 12.5%);
  }
}

.tabbable .search-results {
  margin-left: 40px;
}

.facet {
  & + .facet {
    margin-top: 10px;
  }

  h4 {
    margin-top: 10px;

    i {
      display: inline-block;
      position: relative;
      float: right;

      width: 20px;
      height: 20px;
      line-height: 20px;

      color: darken($grayLighter, 2.5%);
      cursor: pointer;

      text-decoration: none;
      text-align: center;

      &:focus, &:hover {
        color: $grayLight;
      }
    }
  }

  .facet-content, .facet-fold {
    position: relative;

    left: -20px;
    padding-left: 20px;

    input[type="text"], .add-on {
      margin-top: 5px;
    }

    li {
      position: relative;

      .facet-label {
        background-color: $grayLighter;
        color: $gray;
        text-shadow: none;
      }

      .add {
        display: none;
      }

      &:not(.selected):hover {
        .add {
          display: block;

          position: absolute;
          top: 1px;
          left: -17px;
          width: 20px;

          cursor: pointer;
          color: $grayLight;

          &:hover {
            color: $linkColorHover;
          }
        }
      }

      .remove {
        position: absolute;
        top: 1px;
        left: -17px;
        width: 20px;

        cursor: pointer;
        color: $grayLight;

        &:hover {
          color: $linkColorHover;
        }
      }
    }
  }
}

.spinner {
  position: relative;
  top: 40px;
  margin: auto;
}
