.facet {
  @extend .m-b-1;

  &.facet-collapse {
    @extend .m-t-1;
    @extend .m-b-0;
  }
}

.facet-title {
  @extend .m-a-0;

  span {
    display: none;
    color: $text-muted;
  }

  &.collapsible {
    cursor: pointer;
  }

  &.collapsed span {
    display: inline;
  }
}

.facet-content {
  @extend .m-a-0;
  @include clearfix;
}

.facet-addon {
  margin-top: .4 * $spacer-y;
}

.facet-suggest {
  @extend .facet-addon;
  @extend .form-control;
  @extend .form-control-sm;
}

.facet-results {
  @extend .facet-addon;
}

.facet-results-more {
  display: none;

  &.collapsed {
    display: inline;
  }
}

.facet-results-less {
  display: inline;

  &.collapsed {
    display: none;
  }
}

.facet-list {
  @extend .m-a-0;
  @include list-unstyled;
}

.facet-item {
  vertical-align: middle;

  &:not(.selected):hover .facet-link-add {
    display: inline-block;
  }
}

.facet-link {
  display: inline-block;
}

.facet-link-add, .facet-link-remove {
  &, & span {
    @include size(1rem, 1.5rem);

    display: inline-block;
    position: absolute;
    left: 0;
    color: $text-muted;
    text-align: center;
  }
}

.facet-link-add {
  display: none;
}

.facet-tag {
  @extend .text-small;

  display: inline-block;
  margin-left: .2rem;
  color: $text-muted;
}

.facet-note {
  @extend .facet-addon;
  @extend .text-small;
  @extend .text-muted;
}

.search {
  .facet:first-of-type {
    @extend .p-t-2;
  }

  .facet-suggest {
    @include media-breakpoint-only(sm) {
      width: 6 * (100% / 12);
    }

    @include media-breakpoint-only(md) {
      width: 5 * (100% / 12);
    }
  }
}

.search-query-clear {
  border: none;
  padding: $btn-padding-y .5 * $btn-padding-x;
  position: absolute !important;
  top: $input-btn-border-width;
  left: -2rem;
  z-index: 3 !important;

  @include hover-focus-active {
    background: #fff !important;
    color: $brand-danger !important;
  }

  span {
    @include size(1rem, 1.25rem);

    display: inline-block;
  }
}

.search-result-list {
  @extend .p-t-2;
  @include list-unstyled;
}

.search-result-item {
  @extend .m-b-2;

  &:last-of-type {
    @extend .m-b-0;
  }
}

.search-result-title {
  margin: 0 0 .4 * $spacer-y 0;

  small {
    display: block;
    margin-top: .125 * $spacer-y;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-muted;
  }
}

.search-result-content {
  @extend .m-a-0;
  @include clearfix;

  .text-info, .text-warning, .text-danger {
    margin-bottom: .4 * $spacer-y;
  }
}

.search-result-highlights {
  @include list-unstyled;

  margin-top: .4 * $spacer-y;
  text-align: justify;

  em {
    background: rgba($brand-warning, .25);
    font-style: normal;
    padding: 0 .25rem;
  }
}
