@import 'variables';
@import 'mixins';

.social {
  font-size: 0px;
  text-align: center;
  
  a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    
    i {
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: $fontSizeLarge;
      
      &:before {
        cursor: pointer;
      }
    }

    text-decoration: none;
    
    &:hover, &:focus {
      @include opacity(100);
    }
  }
}

.social-vertical {
  width: 40px;
}
