@import 'variables';
@import 'mixins';

.social {
  .addthis_toolbox {
    font-size: 0px;
    text-align: center;
    
    a {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      
      i {
        display: block;
        width: 20px;
        height: 20px;
        font-size: $fontSizeLarge;
        line-height: 20px;
        
        &:before {
          cursor: pointer;
        }
      }

      text-decoration: none;
      
      &:hover, &:focus {
        opacity: 1.0;
      }
    }
  }
}

.social-vertical {
  width: 40px;
}
