@import 'variables';
@import 'mixins';
@import 'bootstrap';


a {
  color: $linkColor !important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $grayLighter -moz-use-text-color $white;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}


// header

.header {
  @extend header;

  //border-top: 1px dashed $navbarInverseBorder;
  border-bottom: 1px dashed $navbarInverseBorder;

  text-align: center;

  margin-bottom: 40px;

  .pattern {
    padding: 20px 0px;
  }

  h1 {
    line-height: 60px;
    font-size: 40px;
    color: $grayLighter;

    small {
      display: block;
      color: $grayLight !important;
    }
  }
}

.section {
  @extend section;
}

.section + section {
  padding-top: 20px;
}

.search-results {
  margin: 0px 0px 0px 20px !important;
  //border-left: 1px dashed darken($grayLighter, 12.5%);

  li {
    padding: 10px 10px 20px 10px;

    margin-left: 0px;

    color: $grayLight;

    p:last-child {
      margin-bottom: 0px;
    }
  }

  li + li {
    border-top: 1px dashed darken($grayLighter, 12.5%);
  }

  h4, .search-result-content, blockquote {
    color: $textColor;
  }

  .search-result-identifiers {
    text-align: right;
  }
}
