@import 'variables';
@import 'mixins';

.timeline {
  ol {
    padding: 30px 0px 40px 0px;

    @include linear-gradient(left, darken($grayLighter, 12.5%) 100%, $white 100%);

    background-position: center;
    background-repeat: repeat-y;
    background-size: 2px;

    li h4 {
      position: relative;
      width: 50%;
      margin: 0px;
      padding: 10px;
      border: 1px solid darken($grayLighter, 12.5%);

      @include border-radius($borderRadiusSmall);

      background: lighten($grayLighter, 5%);
    }

    li:nth-child(even) h4 {
      left: 50%;
      margin-left: -20px;
    }
  }
}

.timeline-less-than-day {
  margin-top: 10px;
}

.timeline-day-to-week {
  margin-top: 10px;
}

.timeline-week-to-month {
  margin-top: 20px;
}

.timeline-month-to-half-year {
  margin-top: 40px;
}

.timeline-half-year-to-year {
  margin-top: 80px;
}

.timeline-more-than-year {
  margin-top: 100px;
}

.timeline-unknown {
  margin-top: 20px;
}
