$gray-dark:     #373a3c;
$gray:          #55595c;
$gray-light:    #818a91;
$gray-lighter:  #eceeef;
$gray-lightest: #f7f7f9;

$brand-primary: #9b59b6;
$brand-success: #2ecc71;
$brand-info:    #3498db;
$brand-warning: #f1c40f;
$brand-danger:  #e74c3c;

$enable-rounded: false;

$link-color:       $brand-primary;
$link-hover-color: $link-color;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-weight-base: 300;

$headings-font-weight: $font-weight-base;

$hr-border-color: $gray-lighter;

$list-inline-padding: 1rem;

$table-bg-accent: $gray-lightest;

$btn-font-weight: $font-weight-base;

$btn-secondary-color:  #fff;
$btn-secondary-bg:     $gray-light;
$btn-secondary-border: $btn-secondary-bg;

$input-border-color: $btn-secondary-border;
$input-border-focus: $brand-primary;

$dropdown-padding-y:    0;
$dropdown-margin-top:   -1px;
$dropdown-border-color: $gray-light;

$dropdown-link-color:       $gray;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg:    $gray-light;

$dropdown-item-padding-x: 1rem;

$navbar-border-color: rgba(#000, .075);

$navbar-light-color:        #fff;
$navbar-light-hover-color:  #fff;
$navbar-light-active-color: #fff;

$nav-tabs-border-color:                   $gray-lighter;
$nav-tabs-active-link-hover-border-color: $gray-lighter;

$pagination-color:           $gray-light;
$pagination-border-color:    $gray-light;
$pagination-hover-color:     #fff;
$pagination-hover-bg:        $gray-light;
$pagination-hover-border:    $gray-light;
$pagination-active-color:    #fff;
$pagination-active-bg:       $gray-light;
$pagination-active-border:   $gray-light;
$pagination-disabled-color:  $gray-light;
$pagination-disabled-bg:     #fff;
$pagination-disabled-border: $gray-light;

$jumbotron-padding: 2.5rem;
$jumbotron-color:   #fff;
$jumbotron-bg:      #202d5f;

$state-success-text:   $brand-success;
$state-success-bg:     #fff;
$state-success-border: $brand-success;
$state-info-text:      $brand-info;
$state-info-bg:        #fff;
$state-info-border:    $brand-info;
$state-warning-text:   $brand-warning;
$state-warning-bg:     #fff;
$state-warning-border: $brand-warning;
$state-danger-text:    $brand-danger;
$state-danger-bg:      #fff;
$state-danger-border:  $brand-danger;

$card-spacer-x:     1rem;
$card-spacer-y:     .5rem;
$card-border-color: $gray-light;

$tooltip-max-width: 250px;
$tooltip-color:     #fff;
$tooltip-bg:        $gray-dark;
$tooltip-opacity:   1;
$tooltip-padding-x: .5rem;
$tooltip-padding-y: .25rem;
$tooltip-margin:    0;

$tooltip-arrow-width: 4px;
$tooltip-arrow-color: transparent;

$popover-inner-padding: 0;
$popover-max-width:     300px;
$popover-border-color:  $gray-light;

$popover-title-bg:          $gray-lighter;
$popover-title-padding-x:   .75rem;
$popover-title-padding-y:   .5rem;
$popover-content-padding-x: .75rem;
$popover-content-padding-y: .5rem;

$popover-arrow-width:       8px;
$popover-arrow-outer-width: $popover-arrow-width + 2px;
$popover-arrow-outer-color: transparent;

$tag-font-weight: $font-weight-base;

$alert-padding:          16px;
$alert-link-font-weight: $font-weight-base;
