@import 'bootstrap/variables';

$enable-rounded: false;

$link-color: $brand-primary;
$link-hover-color: $link-color;

$font-family-base: 'Open Sans', $font-family-sans-serif;

$navbar-border-color: rgba(#fff, .1);

$navbar-light-color: #fff;
$navbar-light-hover-color: #fff;
$navbar-light-active-color: #fff;
