$brand-primary: #9b59b6;
$brand-success: #2ecc71;
$brand-info:    #3498db;
$brand-warning: #f1c40f;
$brand-danger:  #e74c3c;

$enable-rounded: false;

$link-color:       $brand-primary;
$link-hover-color: $link-color;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$headings-font-weight: 300;

$btn-font-weight: 300;

$btn-secondary-color:  #fff;
$btn-secondary-bg:     #818a91;
$btn-secondary-border: $btn-secondary-bg;

$input-border-color: $btn-secondary-border;
$input-border-focus: $brand-primary;

$custom-select-indicator:          url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23818a91' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
$custom-select-focus-border-color: $input-border-focus;

$navbar-border-color: rgba(#000, .075);

$navbar-light-color:        #fff;
$navbar-light-hover-color:  #fff;
$navbar-light-active-color: #fff;

$jumbotron-padding: 2.5rem;
$jumbotron-color:   #fff;
$jumbotron-bg:      #202d5f;

$state-success-text:   $brand-success;
$state-success-bg:     #fff;
$state-success-border: $brand-success;
$state-info-text:      $brand-info;
$state-info-bg:        #fff;
$state-info-border:    $brand-info;
$state-warning-text:   $brand-warning;
$state-warning-bg:     #fff;
$state-warning-border: $brand-warning;
$state-danger-text:    $brand-danger;
$state-danger-bg:      #fff;
$state-danger-border:  $brand-danger;

$label-font-weight: 300;
