<nav class="nav flex-column align-items-start border">
  <%= link_to t('.sign_in'), new_session_path(resource_name), class: 'nav-link' %>
  <%= link_to t('.sign_up'), new_registration_path(resource_name), class: 'nav-link' if devise_mapping.registerable? %>
  <%= link_to t('.forgotten_password'), new_password_path(resource_name), class: 'nav-link' if devise_mapping.recoverable? %>
  <%= link_to t('.account_confirmation'), new_confirmation_path(resource_name), class: 'nav-link' if devise_mapping.confirmable? %>
</nav>
