<p>
 Welcome to the portal <%= link_to 'Open Courts', 'http://otvorenesudy.sk' %>,
</p>
<p>
  for the confirmation of your account please click on the following link:
  <%= link_to 'potvdiť registráciu', confirmation_url(@resource, confirmation_token: @token) %>.
</p>
<p>
  Registration must be confirmed within 2 days, otherwise the system will not allow you to log in.
</p>
<p>
  In case of any questions <%= mail_to 'kontakt@otvorenesudy.sk', 'please, contact us', encode: :hex %>.
</p>
<p>
  Thank you for your registration! We are happy the project interests you.
</p>
