<p>
  Vitajte na stránkach projektu <%= link_to 'Otvorené Súdy', 'https://otvorenesudy.sk' %>,
</p>
<p>
  pre potvrdenie Vášho účtu prosím kliknite na
  <%= link_to 'potvdiť registráciu', confirmation_url(@resource, confirmation_token: @token) %>.
</p>
<p>
  Registráciu je nutné potvrdiť najneskôr do dvoch dní, inak Vám systém neumožní sa prihlásiť.
</p>
<p>
  V prípade akýchkoľvek otázok nás <%= mail_to 'kontakt@otvorenesudy.sk', 'kontaktujte', encode: :hex %>.
</p>
<p>
  Ďakujeme za registráciu a tešíme sa, že Vás náš projekt oslovil.
</p>
