<p>
 Welcome to the <%= link_to 'Open Courts', 'https://otvorenesudy.sk' %> project,
</p>
<p>
  to confirm your account please click on
  <%= link_to 'confirm registration', confirmation_url(@resource, confirmation_token: @token) %>.
</p>
<p>
  Registration must be confirmed within 2 days, otherwise the system will not allow you to log in.
</p>
<p>
  In case of any questions <%= mail_to 'kontakt@otvorenesudy.sk', 'please, contact us', encode: :hex %>.
</p>
<p>
  Thank you for your registration, we are happy that our project interests you.
</p>
