<p>
  Hello,
</p>
<p>
  someone requested the change of your password. For the conformation please click on the following link:
  <%= link_to 'change password', edit_password_url(@resource, reset_password_token: @token) %>.
</p>
<p>
  If you did not request to change the password, please ignore this email. Your password will remain unchanged unless you confirm it by clicking on the link.
</p>
<p>
  In case of any questions  <%= mail_to 'kontakt@otvorenesudy.sk', 'please, contact us', encode: :hex %>.
</p>
<p>
  Thank you!.
</p>
