<p>Ahoj, <%= @resource.email %>!</p>

<p>Niekto vyžiadal zmenu vášho heslo. Pre zmenu, prosím, kliknite na uvedený odkaz.</p>

<p><%= link_to 'Zmeniť moje heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Pokiaľ ste reset nevyžiadali vy, ignorujte tento email.</p>
<p>Vaše heslo zostane rovnaké pokým ho nezmeníte na uvedenom odkaze.</p>
