<p>Dobrý deň, <%= @resource.email %>!</p>

<p>Niekto vyžiadal zmenu Vášho hesla. Pre potvrdenie zmeny, kliknite na dole uvedený odkaz.</p>

<p><%= link_to 'Zmeniť moje heslo', edit_password_url @resource, reset_password_token: @resource.reset_password_token %></p>

<p>Pokiaľ ste zmenu hesla nevyžiadali, ignorujte tento e-mail.</p>

<p>Vaše heslo zostane nezmenené pokiaľ zmenu nepotvrdíte kliknutím na uvedený odkaz.</p>
