<p>
  Dobrý deň,
</p>
<p>
  niekto vyžiadal zmenu Vášho hesla. Pre potvrdenie zmeny, kliknite na nasledujúci odkaz:
  <%= link_to 'zmeniť heslo', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %>.
</p>
<p>
  Pokiaľ ste zmenu hesla nevyžiadali, ignorujte tento e-mail.
  Vaše heslo zostane nezmenené pokiaľ zmenu nepotvrdíte kliknutím na uvedený odkaz.
</p>
<p>
  V prípade akýchkoľvek otázok nás <%= mail_to 'kontakt@otvorenesudy.sk', 'kontaktujte', encode: :hex %>.
</p>
<p>
  Ďakujeme za pochopenie.
</p>
