<footer>
  <div class="container">
    <nav>
      <ul class="pull-right">
        <li><%= link_to 'O projekte', about_path %></li>
        <li><%= link_to 'Kontakt', contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
