<% threshold = 24.hours %>
<% last_showed_at = session[:popup_showed_at] ? Time.at(session[:popup_showed_at]) : Time.now - threshold - 1.second %>

<% if last_showed_at < threshold.ago  %>
  <%= session[:popup_showed_at] = Time.now.to_i %>

  <div class="pop-up modal fade" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2>Oznámenie</h2>
    </div>

    <div class="modal-body">
      <h3>Portál čoskoro opäť funkčný!</h3>

      <p>
        Minulý rok Ministerstvo spravodlivosti zmenilo spôsob zverejňovania dát. Na Otvorených súdoch preto chýbali najnovšie informácie.
      </p>

      <p>
        Portál sme opravili aj vďaka 91 z Vás, ktorí Otvorené súdy podporili sumou <b>1828 eur</b>. <br>
      </p>

      <h4>
        ĎAKUJEME!
      </h4>

      <p>
        Počas víkendu budeme musieť portál pre úpravy vypnúť, no budúceho týždňa bude zverejňovanie najnovších rozsudkov a pojednávaní opäť spustené!
      </p>
      <p>
        Náklady na všetky úpravy sú 2500 eur, rozdiel sme dofinancovali z prostriedkov určených na nové funkcionality portálu. Budeme radi, ak nám ho pomôžete pokryť, aby súdy mohli byť stále otvorené.
      </p>

      <%= link_to "Chcem, aby súdy ostali otvorené", 'http://transparency.darujme.sk/238', track_data(:'pop-up-button').merge(class: 'btn btn-primary btn-large btn-capitalized', target: :_blank) %>

      <h3>
        Ďakujeme.
      </h3>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { $('.pop-up').modal({ keyboard: true }).modal('show') })
  </script>
<% end %>
