<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <%- # required for embedding style inline -%>
    <style type="text/css" media="all"></style>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
